[[ extend "base.html" ]] 

[[ block content ]] 
<h3>Page 2  [[ = sio_app]] </h3>
[[ include "curltext.html" ]]

<p>Go back to the <a href="[[= URL('index') ]]">home page</a>.</p>
<p>You can visit <a href="[[= URL('ssepage') ]]">SSE page</a>.</p>
<p>You can visit <a href="[[= sio_serv_url ]]">sse numbers</a> on [[= sio_port ]]</p>

<p id="id_2index">[[=lorem2 ]] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>



[[ end ]] 

