<p>app_name: [[ = t_vars['sio_app'] ]]</p>

<div>
<a href="[[= t_vars['page2'] ]]">Page 2</a>&nbsp;&nbsp;<a href="[[= t_vars['ssepage'] ]]">SSE page</a>
</div>

<div>
<a href="[[= t_vars['sio_serv_url'] ]]">sse numbers on [[= t_vars['sio_port'] ]]</a>&nbsp;&nbsp; 
<a href="[[= t_vars['jpeg_stream_url'] ]]">jpeg stream on [[= t_vars['sio_port'] ]]</a>&nbsp;&nbsp; 
<a href="[[= t_vars['video_stream_url'] ]]">video stream on [[=t_vars ['sio_port'] ]]</a>
</div>

<div>
<a href="[[= t_vars['chart'] ]]">live chart</a>&nbsp;&nbsp; 
<a href="[[= t_vars['index'] ]]">Home</a>
</div>

